// Body
$body-bg: #f5f9fc;

// Typography
$font-family-sans-serif: 'Tajawal';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: purple;
$btn-border-radius:0;
$card-border-width:0;
$card-border-radius:0;
$input-border-radius:0;